<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          질문) 코로나19 확진 환자와의 접촉력
        </v-card-title>
        <v-card-text>
          <pre>
확진환자의 잠복기와 증상발생 기간동안 확진환자와 접촉한 적이 있습니까?

* 코로나19의 잠복기를 14일로 넓게 보고 있습니다.
* 무증상 확진 환자도 있음을 참고.
* 주요 증상: 발열(37.5℃ 이상), 권태감(몸이 나른한 느낌), 피로(심신기능이 떨어진 상태, 지친 상태),
기침, 호흡곤란 및 폐렴, 급성호흡곤란증후군, 호흡기감염증상
드물게는 오한, 근육통, 객담(가래), 인후통(목구멍이 아픔), 
두통(머리가 아픔), 객혈(피를 토함), 오심(메스꺼움, 구역질), 복통(배 아픔), 설사도 나타남
          </pre>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt @click="check('N')">
            접촉한 적 없음
          </v-btn>

          <v-spacer />
          <v-btn color="primary" nuxt @click="check('Y')">
            접촉한 적 있음
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      transition: 'page',
      title: 'default'
    }
  },
  methods: {
    check(v) {
      // console.log(v)
      this.$store.commit('setCoronaContactYn', v)
      this.$router.push('./check_transmission')
    }
  }
}
</script>
