<template>
  <v-layout column justify-center align-center>
    <v-flex class="text-center">
      <v-card>
        <v-card-title class="headline">
          질문) 체온계로 열을 쟀나요?
        </v-card-title>
        <v-card-text>
          <pre></pre>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt @click="check('N')">
            체온을 측정하지 않음
          </v-btn>

          <v-spacer />
          <v-btn color="primary" nuxt @click="check('Y')">
            체온을 측정함
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      transition: 'page',
      title: 'default'
    }
  },
  created() {
    console.log(this.$store.state)
  },
  methods: {
    check(v) {
      console.log(v)
      // this.$store.setConnetYn(v)
      this.$store.commit('setCheckTemperatureYn', v)

      if (v === 'Y') {
        this.$router.push('/check_fever2')
      } else {
        this.$router.push('/step03')
      }
    }
  }
}
</script>
