<template>
  <v-layout column justify-center align-center>
    <v-flex class="text-center">
      <v-card>
        <v-card-title class="headline">
          질문) 체온계로 측정한 온도는 몇 도 인가요?
        </v-card-title>
        <v-card-text>
          <pre></pre>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt @click="check('N')">
            측정하지 않음
          </v-btn>
          <v-spacer />
          <v-text-field
            ref="refTemperature"
            v-model="temperature"
            label="체온"
            type="number"
            :rules="rules"
          ></v-text-field>
          <v-spacer />
          <v-btn color="primary" nuxt @click="check('Y')">
            입력
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      // (value) => (value || '').length <= 10 || 'Max 20 characters',
      rules: [(value) => !!value || 'Required.'],
      temperature: ''
    }
  },
  created() {
    console.log(this.$store.state)
  },
  methods: {
    check(v) {
      // console.log(v)
      // this.$store.setConnetYn(v)
      this.$store.commit('setCheckTemperatureYn', v)

      if (v === 'Y') {
        if (!this.temperature) {
          // this.$refs.refTemperature.blur()
          this.$refs.refTemperature.error = true

          return
        }
      }

      this.$store.commit('setTemperature', this.temperature)

      this.$router.push('./check_taking_drugs')
    }
  }
}
</script>
