<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          질문) 해열제 및 진통제 복용 확인
        </v-card-title>
        <v-card-text>
          <pre>
최근 해열제나 진통제를 먹었나요?
          </pre>
        </v-card-text>
        <v-card-actions>
          <v-checkbox
            v-model="antipyreticsYn"
            label="해열제"
            false-value="N"
            true-value="Y"
          ></v-checkbox>
          <v-checkbox
            v-model="painkillersYn"
            label="진통제"
            false-value="N"
            true-value="Y"
          ></v-checkbox>

          <v-spacer />
          <v-btn color="primary" nuxt @click="check()">
            확인
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      antipyreticsYn: 'N',
      painkillersYn: 'N',
      transition: 'page',
      title: 'default'
    }
  },
  created() {
    console.log(this.$store.state)
  },
  mounted() {
    // console.log(this.antipyreticsYn)
    // console.log(this.painkillersYn)
  },
  methods: {
    check(v) {
      this.$store.commit('setTakingAntipyreticsYn', this.antipyreticsYn)
      this.$store.commit('setTakingPainkillersYn', this.painkillersYn)
      this.$router.push('./check_symptoms')
    }
  }
}
</script>
