<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          코로나19 자가진단 안내와 주의사항
        </v-card-title>
        <v-card-text>
          <div class="box_nh">
            <div class="bn_t"><p>대한민국 사례정의 (2020. 4.2 기준)</p></div>
            <div class="bn_b">
              <p class="mgt16">
                <strong class="w_bold">확진환자(Confirmed case)</strong>
              </p>
              <ul class="s_listin_dot">
                <li>
                  임상양상에 관계없이 진단을 위한 검사기준에 따라 감염병 병원체
                  감염이 확인된 자<br /><span class="txt_ntc"
                    >※ 자가진단 항목 : 진단검사 : 코로나바이러스감염증-19
                    유전자(PCR) 검사, 바이러스 분리</span
                  >
                </li>
              </ul>
            </div>
            <div class="bn_b">
              <p class="mgt16"><strong class="w_bold">의사환자</strong></p>
              <ul class="s_listin_dot">
                <li>
                  확진환자와 접촉한 후 14일 이내에 발열(37.5℃ 이상) 또는
                  호흡기증상(기침, 호흡곤란 등)이 나타난 자
                </li>
              </ul>
            </div>
            <div class="bn_b">
              <p class="mgt16">
                <strong class="w_bold">조사 대상 유증상자</strong>
              </p>
              <ul class="s_listin_dot">
                <li>
                  ① 의사의 소견에 따라 원인미상폐렴 등 코로나19가 의심되는 자
                </li>
                <li>
                  ② 해외 방문력이 있으며 귀국 후 14일 이내에 발열(37.5℃ 이상)
                  또는 호흡기증상(기침, 호흡곤란 등)이 나타난 자
                </li>
                <li>
                  ③ 코로나바이러스감염증-19 국내 집단발생과 역학적 연관성이
                  있으며, 14일 이내 발열(37.5℃ 이상) 또는 호흡기증상(기침,
                  호흡곤란 등)이 나타난 자
                </li>
              </ul>
            </div>
          </div>

          <pre>
코로나바이러스감염증-19(코로나19)는 임상양상, 역학적 특성에 대한 정보가
구체적으로 밝혀질 때까지 ‘제1급감염병 신종감염병증후군’을 적용하여 대응합니다.

대한민국 질병관리본부 사례정의에 따라 의사환자 및 조사대상 유증상자로 
나누어서 관리하게 됩니다.
따라서, 조사대상자와 의사 환자를 빠르게 선별하고 대처하는 
적극적인 방역 활동에 자가진단 체크를 활용할 수 있습니다.

자가 검진은 절대 완전하지 않습니다.
자가 검진을 이용하여 생기는 불이익에 대해 제작자는 책임질 수 없습니다만,
코로나 바이러스에 좀 더 기준이 있는 대처에 도움이 되려고 제작하였습니다.
          </pre>
          <a
            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/"
            target="_blank"
          >
            Coronavirus disease (COVID-19), WHO
          </a>
          <a href="http://ncov.mohw.go.kr/en/" target="_blank">
            Coronavirus Disease-19, Republic of Korea
          </a>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt href="http://ncov.mohw.go.kr/en/">
            동의하지 않음.
          </v-btn>

          <v-spacer />
          <v-btn color="primary" nuxt to="./check_contact">
            이해했으며 동의합니다.
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {}
}
</script>
