<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          질문) 코로나19 검역관리지역 역학 연관성
        </v-card-title>
        <v-card-text>
          <pre>
전세계 코로나19 팬데믹 상황.
전세계 모든 입국자(3월 19일)로 적용지역을 확대 적용 상황

2020년 2월 4일부터 중국으로부터 한국으로 입국하는 모든 승객에 대해 ‘특별입국절차’를 시행하고 있으며, 
홍콩‧마카오(2월12일), 일본(3월9일), 이탈리아‧이란(3월12일), 
유럽 주요 5개국(프랑스·독일·스페인·영국·네덜란드, 3월 15일), 
유럽 전역(3월 16일),
국외 (3월 19일),
국내 대구, 청도군(대남병원) 등

코로나19 발생과 관련된 지역을 방문한 적이나 노출된 적이 있습니까?
          </pre>
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt @click="check('N')">
            아니요
          </v-btn>

          <v-spacer />
          <v-btn color="primary" nuxt @click="check('Y')">
            예
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      transition: 'page',
      title: 'default'
    }
  },
  methods: {
    check(v) {
      // console.log(v)
      this.$store.commit('setTransmissionYn', v)
      this.$router.push('./check_fever')
    }
  }
}
</script>
