<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          질문) 증상 확인
        </v-card-title>
        <v-card-text> </v-card-text>

        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt @click="check()">
            확인
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
/*
발열(37.5℃ 이상), 권태감(몸이 나른한 느낌), 피로(심신기능이 떨어진 상태, 지친 상태),
기침, 호흡곤란 및 폐렴, 급성호흡곤란증후군, 호흡기감염증상
드물게는 오한, 근육통, 객담(가래), 인후통(목구멍이 아픔), 
두통(머리가 아픔), 객혈(피를 토함), 오심(메스꺼움, 구역질), 복통(배 아픔), 설사

미국 의학저널 ‘뉴잉글랜드 저널 오브 메디신’에 발표된 논문이 
중국 확진자 1099명을 분석해 가장 많은 정보를 담은 연구다. 

전형적인 호흡기 증상인 기침(67.8%), 가래(33.7%)의 비중이 높았지만, 
피로(38.1%), 근육통(14.9%), 오한(11.5%), 두통( 13.6%), 설사(3.8%)

*/
export default {
  components: {},
  data() {
    return {
      caseType: {
        suspect: '의사환자(Suspect case)',
        investigation: '조사 대상 유증상자(Patients Under Investigation)'
      },
      case: '',
      levelType: {
        high: '높음(High))',
        middle: '중간(Middle)',
        low: '낮음(Low)'
      },
      level: '',
      reason: [],
      symptoms: [],
      painkillersYn: 'N',
      transition: 'page',
      title: 'default'
    }
  },
  created() {
    console.log(this.$store.state)
  },
  methods: {
    // 의사환자
    // 확진환자와 접촉한 후 14일 이내에 발열(37.5℃ 이상) 또는 호흡기증상(기침, 호흡곤란 등)이 나타난 자

    // 조사 대상 유증상자
    check_case() {
      // 의사환자
      if (this.$store.state.coronaContactYn === 'Y') {
        this.case = this.$store.state.caseType.suspect
        if (
          this.$store.state.temperature >= 37.5 ||
          this.$store.state.dyspnea === 'Y' || // 호흡곤란
          this.$store.state.cough === 'Y' // 기침(마른 기침)
        ) {
          this.level = this.$store.state.levelType.high
          this.reason.push('감염접촉: 확진환자와 접촉한 적이 있음')
          this.reason.push('증상: 37.5℃ 이상 발열')
        } else if (
          this.$store.state.temperature >= 37.2 &&
          this.$store.state.temperature < 37.5
        ) {
          this.level = this.$store.state.levelType.middle
          this.reason.push('감염접촉: 확진환자와 접촉한 적이 있음')
          this.reason.push('증상: 37.2 ~ 37.4 ℃ 발열')
        } else {
          this.level = this.$store.state.levelType.low
          this.reason.push('감염접촉: 확진환자와 접촉한 적이 있음')
          this.reason.push('증상: 37.2 미만 발열')
        }
      }
    },
    check(v) {
      // console.log(v)
      this.$router.push('./result')
    }
  }
}
</script>
