<template>
  <v-layout column justify-center align-center>
    <v-flex xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          코로나19 자가진단
        </v-card-title>
        <v-card-text>
          <pre>
지역/ 언어 선택
          </pre>

          <v-radio-group v-model="caseSelected" :mandatory="true">
            <v-radio label="대한민국" value="krko"></v-radio>
            <v-radio label="Korean case in English" value="kren"></v-radio>
          </v-radio-group>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="primary" nuxt @click="check()">
            Next
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
// import Logo from '~/components/Logo.vue'
// import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {},
  data() {
    return {
      caseSelected: 'krko'
    }
  },
  methods: {
    check(v) {
      // console.log(v)
      if (this.caseSelected === 'krko') {
        this.$router.push('/krko/notice')
      } else {
        this.$router.push('/kren/notice')
      }
    }
  }
}
</script>
