/* eslint-disable no-console */
<template>
  <v-layout column justify-center align-center>
    <v-flex class="text-center" xs12 sm8 md6>
      <v-card>
        <v-card-title class="headline">
          질문4. 코로나19 확진 환자와의 접촉력
        </v-card-title>
        <v-card-text>
          <pre>
확진 환자의 증상이 발생되기 14일 전부터 현재까지 기간동안 확진 환자와 접촉한 적이 있습니까?</pre
          >
        </v-card-text>
        <v-card-actions>
          <v-btn color="primary" nuxt @click="check('N')">
            접촉한 적 없음
          </v-btn>

          <v-spacer />
          <v-btn color="primary" nuxt @click="check('Y')">
            접촉한 적 있음
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  components: {},
  data() {
    return {
      transition: 'page',
      title: 'default'
    }
  },
  created() {
    console.log(this.$store.state)
  },
  methods: {
    check(v) {
      // console.log(v)
      this.$store.commit('setConnetYn', v)
      this.$router.push('/step02')
    }
  }
}
</script>
